{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>Group Name: The Eco-vision</h1>
        <div class="row mt-5">
            <div class="col-md-3 text-center">
                <img src="{% static 'images/jogi.jpg' %}" class="img-fluid rounded-circle" alt="Profile 3" style="width: 150px; height: 150px;">
                <p class="mt-3"><b>Jahnavi Piyushkumar</b> Jahnavi specializes in user engagement and analytics. She maintains user history and tracks the number of visits per day, providing valuable insights into user behavior. Additionally, she manages the home page, ensuring it reflects the latest visitor statistics and upcoming environmental events.</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="{% static 'images/David.jpg' %}" class="img-fluid rounded-circle" alt="Profile 1" style="width: 150px; height: 150px;">
                <p class="mt-3"> <b>David Abejide</b>  David is our go-to person for all things related to user authentication and security. With his expertise, he ensures that our platform is secure and user-friendly. He handles login, signup, and password management functionalities, making sure that our users have a seamless experience.</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="{% static 'images/fajuks.jpg' %}" class="img-fluid rounded-circle" alt="Profile 2" style="width: 150px; height: 150px;">
                <p class="mt-3"><b>Fajuko Odunayo</b> Odunayo is our creative mind behind the website's footer and team pages. He ensures that all sections are well-organized and accessible. He is also responsible for the About Team and Contact Us pages, making sure our users can easily learn about and connect with us.</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="{% static 'images/keta.png' %}" class="img-fluid rounded-circle" alt="Profile 4" style="width: 150px; height: 150px;">
                <p class="mt-3"><b>Keta Ashishkumar Jani</b> Keta is our expert in search functionalities and content management. She is responsible for implementing the search bar with a top-down list output and managing the About and Blogs pages. Her keen eye for detail ensures that our users can easily find the information they need.</p>
            </div>
        </div>
    </div>
{% endblock content %}




{#{% extends 'blog/base.html' %}#}
{#{% block content %}#}
{#    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">#}
{#        <h1>Group Name: The Eco-vision</h1>#}
{#        <h3>weoiadfyuvo qerv qepiryfv qoerv qefoivuy e</h3>#}
{#    </div>#}
{#{% endblock content %}#}


